
@charset "utf-8";
/*常用标签*/
*html{background-image:url(about:blank);background-attachment:fixed;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
body{color:#666666;font:12px/18px Tahoma,"微软雅黑","宋体";}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,details{display:block;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
i,cite,em,var,address,dfn{font-style:normal;}
button,input,select,textarea{font-size:100%;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
p{word-wrap:break-word;}
a{text-decoration:none; color:#333;}
a:hover{color:#e0263b;}


/*常用样式*/
.block{display:block;}
.hidden{display:none;}
.fleft,.fright,.di{display:inline;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.t-c{text-align:center;}
.t-r{text-align:right;}
.t-l{text-align:left;}
.t-del{text-decoration:line-through;}
.f2em{text-indent:2em;}

/*---------字体------------*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f26{font-size:26px;}
.f50{font-size:50px;}
.fb{font-weight:bold;}


/*---------颜色----------*/
.white{color:#ffffff;}
.black{color:#000000;}
.gray{color:#acacac;}
.red{color:red;}

/*----------页面公共样式------------------------------*/

