/* bootstrap change */
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.theme .dropdown-menu {
  min-width:auto;
  width:100%;
  border: none;
}
.navbar-default{
  background-color: #fff;
}
.navbar{
  border: none;
  border-radius: 0;
}
.tab-content{
  margin-top: 30px;
}
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active,
.btn[disabled]:active:hover{
  background-color: #ccc;
  color: #333;
  border-color: #333;
}
.breadcrumb{
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.breadcrumb a h1:hover{
  text-decoration: underline;
}
body.mask{
  overflow: hidden;
}
.cancle-addon{
  background-color: #fff;
  cursor: pointer;
}
.cancle-addon:hover{
  background-color: #ccc;
  color: #fff;
}
.badge{
  background-color: #fff;
}
/*页头*/
/*信息条*/
.info-bar{
  text-align: right;
}
@media screen and (max-width: 768px) {
    .info-bar {
        text-align: left;
    }
}
.info-bar>span,
.info-bar a,
.info-bar div{
  line-height: 40px;
  color: #efefef;
}
/*语言选项*/
.language,
.theme {
  display: inline-block;
  cursor: pointer;
}
.language .dropdown-menu{
  text-align: center;
  height: 30px;
  line-height: 20px;
  min-width: 160%;
  /*color: #3498DB;*/
}
/*颜色选项*/
.theme-item{
  text-align: center;
}
.theme-item span{
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #efefef;
}

.theme-item .alizarin{
  background-color: #E74C3C;
}
.theme-item .carrot{
  background-color: #E67E22;
}
.theme-item .orange{
  background-color: #F39C12;
}
.theme-item .emerland{
  background-color: #2ECC71;
}
.theme-item .turquoise{
  background-color: #1ABC9C;
}
.theme-item .peter-river{
  background-color: #3498DB;
}
.theme-item .amethyst{
  background-color: #9B59B6;
}
.theme-item .concrete{
  background-color: #95A5A6;
}
.theme-item .wet-asphalt{
  background-color: #34495E;
}

/*页脚*/
.footer{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.footer.absolute{
  position: absolute;
  bottom: 0;
}
/*页面主体部分*/

/*login*/
.login-content{
  max-width: 280px;
  margin: 5% auto;
}
.login-content .logo{
  font-size: 10em;
  text-align: center;
}

/*wifi*/
.ssid-title{
  text-align: center;
  font-size: 1.5em;
}

.confirm-msg{
  text-align: center;
  font-size: 1.2em;
}

/*lan*/
.header{
  border-bottom: 3px solid;
  margin: 20px auto;
}
.header h1{
  display: inline-block;
  font-size: 1.4em;
}
.dhcp-header{
  margin: 20px auto;
}
.dhcp-header h2{
  display: inline-block;
  font-size: 1.2em;
}


/*app*/
.app h2,
.app a{
  text-align: center;
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
}
.app .app-title{
  font-size: 1em;
  margin-top: 5px;
  height: 2em;
}
.app .app-sub-title{
  text-align: left;
}
.app{
  text-align: center;
}
.app .app-img{
  
}
.app-item{
  /*padding-bottom: 10px;*/
  /*border-bottom: 1px solid;*/
}
.test-result{
  background-color: #eee;
  color: #333;
  border: 1px solid #ccc;
}

/*adv*/

.table-responsive+button{
  margin-bottom: 2em;
}
.dmz-status{
  border: none;
  box-shadow: none;
}

/*status*/
.circle{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2ECC71;
}
.circle.nouse{
  background-color: #ccc;
}
.cpu-progress{
  position: relative;
}
.cpu-progress span{
  border-radius: 4px;
  display: block;
  position: absolute;
  margin: 0 3%;
  width: 94%;
  height: 100%;
  background-color: #34495E;
}
.cpu-progress .cpu-progress-bar{
  width: 0;
  z-index: 3;
  background-color: #27AE60;
}
.cpu-progress-text{
  z-index: 4;
  padding: 0;
  text-align: center;
  color: #fff;
}
.cpu-status,.net-status-item{
  margin-top: 2em;
}
.running-time{
  font-size: 1.2em;
}


/*小部件*/
#start_dots,#end_dots{
  border: 0 !important;

}

/* switch */
.switch-ctrl{
  margin-bottom: -6px;
  margin-left: 10%;
  display: inline-block;
  width: 60px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.switch-ctrl input{
  opacity: 0;
}
.switch-ctrl label{
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 0;
	z-index: 1;
	background: #ccc;
  margin: 0;
}
.switch-ctrl label span{
  position: absolute;
  left: 2px;
  top: 2px;
  dispaly: inline-block;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

.switch-ctrl input[type=checkbox]:checked + label span{
  left: 36px;
}
/*模块switch*/
.head-switch{
  margin: 0 0 10px 0;
}
/*小号switch*/
.switch-sm{
  margin: 0;
  width: 40px;
  height: 22px;
  border-radius: 22px;
}
.switch-sm label span{
  left: 3px;
  top: 3px;
  height: 16px;
  width: 16px;
}
.switch-sm input[type=checkbox]:checked + label span{
  left: 22px;
}

/*loading图标*/
.loading-text{
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.icon-loading{
  z-index: 1051;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.icon-loading span{
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ccc;
  top: 45%;
  border-radius: 50%;
}

.icon-loading span:nth-child(1) {
  background-color: #E74C3C;
  animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
  /*opacity: 0.2;*/
}
.icon-loading span:nth-child(2) {
  background-color: #F39C12;
  /*background-color: #E74C3C;*/
  animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
  /*opacity: 0.4;*/
}
.icon-loading span:nth-child(3) {
  background-color: #3498DB;
  /*background-color: #E74C3C;*/
  animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
  /*opacity: 0.6;*/
}
.icon-loading span:nth-child(4) {
  background-color: #9B59B6;
  /*background-color: #E74C3C;*/
  animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
  /*opacity: 0.8;*/
}
.icon-loading span:nth-child(5) {
  background-color: #2ECC71;
  /*background-color: #E74C3C;*/
  animation: move 2s 600ms infinite cubic-bezier(.2,.64,.81,.23);
  /*opacity: 1;*/
}

@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}

/*表单上传字段*/

.upload-ctrl .fw-file{
  position: absolute;
  top: -3000px;
  left: -3000px;
  opacity: 0;
}
.upload-ctrl .file-input{
  position: relative;
}
.upload-ctrl label p{
  display: inline-block;
}
.upload-ctrl .file-name{
  color: #333;
  margin-left: 10px;
  border-bottom: 1px solid #333;
}
.unread{
  font-weight: bold;
}
.read_notice{
  cursor: pointer;
}
.read_notice:hover{
  text-decoration: underline;
}
/*信号强度图标*/
.rssi-icon{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}
.rssi-icon span{
  margin-right: 5%;
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  border: 1px solid #ccc;
  background-color: #0f0;
}
.rssi-icon span:nth-child(1){
  height: 25%;
}
.rssi-icon span:nth-child(2){
  height: 50%;
}
.rssi-icon span:nth-child(3){
  height: 75%;
}
.rssi-icon span:nth-child(4){
  height: 100%;
}
.wireless-content p{
  margin-bottom: 5px
}

.legend_item{
  vertical-align: top;
  position: relative;
  text-align: left;
  height: 20px;
  background-color: #0ff;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.legend_label{
  line-height: 20px;
  display: block;
  margin-left: 20px;
  background-color: #fff;
  color: #333;
}
.line-through{
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  height: 2px;
  width: 70%;
  background-color: #333;
}
.gotop-widget{
  position:fixed;
  z-index: 100;
  right: 5px;
  top: 50%;
  font-size: 3em;
  opacity: 0.6;
  color: #333;
}
.gotop-widget button:hover{
  opacity: 1;
  background-color: #fff;
  color: #666;
}
.gotop-widget button{
  display: block;
}
.menu-widget{
  top: 50%;
  right: 60px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  /*height: 500px;*/
}
.menu-widget .nav-pills > li.active > a,
.menu-widget .nav-pills > li.active > a:hover,
.menu-widget .nav-pills > li.active > a:focus{
  background-color: #fff;
  color: #666;
  border-radius: 0;
}

.like-a-link{
  cursor: pointer;
}
.like-a-link:hover{
  text-decoration: underline;
}

.add_ip_btn{
  cursor: pointer;
}
.add_ip_btn:hover{
  color: #2ECC71;
}
.ip_spans:hover{
  color: red;
}
.ip_span:hover{
  text-decoration: underline;
}
.del_ip_span{
  cursor: pointer;
}
.dashline{
  animation: dash 100s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: -10000;
  }
}
.backdashline{
  animation: backdash 100s linear;
}
@keyframes backdash {
  to {
    stroke-dashoffset: 10000;
  }
}

.hideshowalter{
  animation: opa 1.6s linear infinite;
}
@keyframes opa {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.info-title{
  font-size: 0.6em;
  font-weight: bold;
  color: #333;
}
.dashline{
  animation: dash 100s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: -10000;
  }
}
.backdashline{
  animation: backdash 100s linear;
}
@keyframes backdash {
  to {
    stroke-dashoffset: 10000;
  }
}

.hideshowalter{
  animation: opa 1.6s linear infinite;
}
@keyframes opa {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.info-title{
  font-size: 0.6em;
  font-weight: bold;
  color: #333;
}
.upload-progress-bar{
  position: relative;
  display: inline-block;
  height: 10px;
  background-color: #ccc;
  margin-left: 10px;
}
.upload-progress-bar span{
  position: absolute;
  display: inline-block;
  height: 10px;
  background-color: #2ECC71;
  width: 0;
}
select.error:focus,
.vlan_input:focus{
  outline: 1px solid rgba(82,168,236,.6);
}
select.error,
.vlan_input.error{
  color: red;
  outline: 1px solid red;
}

.shell-pre{
  display: inline;
  border: none;
  background-color: transparent;
  margin: 0;
  line-height: 1em;
  font-size: 1em;
}

.fb-dir{
  color: DarkBlue;
  cursor: pointer;
}
.fb-desc{
  color: DarkMagenta;
}
.fb-link{
  color: DodgerBlue;
  cursor: pointer;
}
.fb-exec{
  color: green;
  cursor: pointer;
}
.fb-file{
  color: DimGray;
  cursor: pointer;
}