
@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;}
.login-bg{width:100%;min-width:800px;height:100%;background:#226aff;background-size:100% auto;}
.sys-logo{width:615px;height:114px;margin:0 auto;}/*修改*/
.sys-logo img{width:615px;height:114px;}/*新增*/
.login-bg{padding-top:15%;}
.login-con{width:585px;height:468px;margin:0 auto;}
.login-wrap{width:615px;height:297px;background:#f3f5f7;border-radius:6px;margin-top:30px;-moz-box-shadow: 0px 3px 3px #166988; /* 老的 Firefox */
box-shadow: 0px 3px 3px #166988;position:relative;}
.login-title{width:100%;height:50px;border-bottom:solid #fff 1px;border-top-left-radius:6px;border-top-right-radius:6px;text-align:center;font-size:22px;line-height:49px;background:url(../images/login-title.jpg) repeat-x;}
.login-form{width:500px;height:50px;margin:0 auto;background:#f0f0f0;border:solid #cdcdcd 1px;border-radius:5px;margin-top:35px;}
.login-name{height:49px;border-bottom:solid #e7e7e7 1px;}
.login-name input[type="text"],.login-pass input[type="password"]{width:450px;height:48px;border:none;margin-left:10px;line-height:48px;font-size:16px;background:none;}
.login-pass{height:49px;border-top:solid #f5f5f5 1px;}
.login-btn{width:500px;height:42px;margin:0 auto;margin-top:60px;border:solid #226aac 1px;border-radius:6px;background:url(../images/btn-bg.jpg) repeat-x;}
.login-btn a{width:500px;height:42px;margin:0 auto;display:inline-block;line-height:42px;text-align:center;font-size:18px;color:#fff;}
.login-btn:hover{background:url(../images/btn-bg-hover.jpg) repeat-x;}
.remember{width:500px;margin:0 auto;padding-top:15px;font-size:12px;}
.user-ico{width:23px;height:23px;background-position:0 -56px;display:inline-block;margin-left:13px;margin-top:13px;}
.pass-ico{width:23px;height:23px;background-position:-25px -56px;display:inline-block;margin-left:13px;margin-top:13px;}
.error-message{width:500px;margin-left:42px;position:absolute;z-index:999;color:#666666;text-align:center;font-size:12px;line-height:26px;height:28px;background:#fff6d2;border:solid #ffe57d 1px;margin-top:3px;display:inline-block;float:left;border-radius:3px;}
.tip-ico{width:12px;background:url(../images/tip-ico.jpg) 0 0px no-repeat;padding-right:15px;}